<h2>Users</h2>
<table class="table table-bordered">
  <thead>
  <th>
    Email
  </th>
  <th>
    &nbsp;
  </th>
  </thead>
  <tbody>
  <tr ng-repeat="user in vm.users">
    <td>
      {{ user.email }}
    </td>
    <td width="100">
      <button class="btn btn-danger" ng-click="vm.removeUser(user)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>

<h2>Mails</h2>
<table class="table table-bordered" ng-if="vm.contacts.length">
  <thead>
  <th>
    Name
  </th>
  <th>
    Email
  </th>
  <th>
    Object
  </th>
  <th>
    &nbsp;
  </th>
  </thead>
  <tbody>
  <tr ng-repeat="contact in vm.contacts">
    <td>
      {{ contact.name }}
    </td>
    <td>
      {{ contact.email }}
    </td>
    <td>
      {{ contact.text }}
    </td>
    <td width="100">
      <button class="btn btn-danger" ng-click="vm.removeContact(contact)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
<p ng-if="!vm.contacts.length">No mails</p>
