<h2>Users</h2>
<table class="table table-bordered">
  <thead>
  <th>
    Email
  </th>
  <th>
    &nbsp;
  </th>
  </thead>
  <tbody>
  <tr ng-repeat="user in vm.users">
    <td>
      <span ng-if="vm.editedUser !== user">{{ user.email }}</span>
      <input class="form-control" required ng-if="vm.editedUser === user" ng-model="user.email">
    </td>
    <td width="250">
      <button class="btn btn-danger" ng-click="vm.removeUser(user)">Delete</button>
      <button class="btn btn-default" ng-if="vm.editedUser !== user" ng-click="vm.editedUser=user">Edit</button>
      <button class="btn btn-info" ng-if="vm.editedUser === user" ng-click="vm.updateUser(user)">Save</button>
      <button class="btn btn-warning" ng-if="vm.editedUser === user" ng-click="vm.editedUser = null">Cancel</button>
    </td>
  </tr>
  </tbody>
</table>

<h2>Mails</h2>
<table class="table table-bordered" ng-if="vm.contacts.length">
  <thead>
  <th>
    Name
  </th>
  <th>
    Email
  </th>
  <th>
    Object
  </th>
  <th>
    &nbsp;
  </th>
  </thead>
  <tbody>
  <tr ng-repeat="contact in vm.contacts">
    <td>
      {{ contact.name }}
    </td>
    <td>
      {{ contact.email }}
    </td>
    <td>
      {{ contact.text }}
    </td>
    <td width="100">
      <button class="btn btn-danger" ng-click="vm.removeContact(contact)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
<p ng-if="!vm.contacts.length">No mails</p>
